* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    z-index: 1;
}

footer {
    height: 10vh;
    margin: 0 auto;
    padding: 10px;
    background: #000000;
    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 50px;
    align-self: center;
    margin-left: 10px;
    color: #ffffff;
}

.navigation-wrapper {
    position: relative;
    /*height: 10vh;*/
    width: 100%;
    background: #000000;
    padding: 30px;
}

.navigation-bar {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.basket {
    display: inline-block;
    background: white;
    border-radius: 50%;
    transition: ease-in 1s;
}

.close-menu-image, .open-menu-image, .basket-image {
    height: 55px;
    width: 55px;
}

.basket-image {
    margin-top: 5px;
    margin-right: 5px;
}


.search {
    display: inline-flex;
    width: 40%;
    height: 90%;
}

.search-box {
    width: 90%;
    height: 90%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    outline: none;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.search-box:hover::placeholder {
    opacity: 0.3;
    font-size: 15px;
}

.search-box::placeholder {
    color: #ffffff;
    opacity: 0.5;
    transition: .3s ease-out;
}


.search-button {
    width: 30%;
    height: inherit;
    padding: 10px 20px;
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.navigation-menu-burger {
    display: inline-block;
    background: white;
    border-radius: 50%;
    transition: ease-in 1s;
}

.navigation-content, .close-menu-image,
.navigation-menu-burger:hover .open-menu-image {
    display: none;
}

.navigation-menu-burger:hover {
    background: rgba(246, 245, 242, 0.71);
}


@keyframes slide {
    100% {
        clip: rect(0, 100vw, auto, 0);
    }
}

.navigation-menu-burger:hover .navigation-content {
    display: block;
    position: fixed;
    left: 50%;
    top: calc(100vh - 90vh);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(246, 245, 242, 0.71);
    filter: grayscale(100%);
    z-index: 99;
    clip: rect(0, 100vw, auto, 100vw);
    animation: slide .5s linear .5s forwards;
}

.navigation-menu-burger:hover .close-menu-image {
    display: block;
}

.navigation-items {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.navigation-item {
    font-size: 80px;
    color: #000000;
    cursor: pointer;
}

.menu-container {
    display: flex;
    width: 100%;
    color: #ffffff;
    font-size: 65px;
    cursor: pointer;
    z-index: 1;
}

.category-select {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: round;
    filter: grayscale(100%);
    transition: font-size 0.2s;
}

.category-select:hover {
    filter: grayscale(90%);
    font-size: 70px;
}

.category-select:hover .category-label-wrapper {
    opacity: 1;
}

.category-label-wrapper {
    background: black;
    padding: 20px;
    border-radius: 30px;
    opacity: 0.7;
}

#mens-clothes {
    background-image: url("https://plus.unsplash.com/premium_photo-1683140431958-31505d0fd1ff?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVuJTIwaW4lMjBzaGlydHxlbnwwfHwwfHx8MA%3D%3D");
}

#womens-clothes {
    background-image: url("https://images.unsplash.com/photo-1475255694709-4da5da7816cc?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGZlbWFsZSUyMGluJTIwc2hpcnR8ZW58MHx8MHx8fDA%3D");
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    color: #ffffff;
    font-size: 25px;
    height: 100%;
    width: calc(100% / 3);
    margin: 10px;
    word-break: break-word;
}

.content div {
    font-weight: normal;
    font-family: 'Kanit', sans-serif;
}

.content:nth-child(-n + 2) {
    margin-right: 5px;
    border-right: 2px solid #ffffff;
}

.content > h2, .content > div {
    text-align: center;
}


.men-product {
    position: relative;
    /*overflow: hidden;*/
    padding: 30px 0;
}

.product-category {
    margin: 20px;
    padding: 0 5vw;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    height: 550px;
    scroll-behavior: smooth;
    margin-bottom: 20px;
    width: auto;
}

.product-card {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    margin-left: 15px;
    margin-top: 2px;
}

.product-image {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    object-fit: cover;
}

.product-image img {
    height: 100%;
    width: 100%;
}

.discount-tag {
    position: absolute;
    background-color: #000000;
    padding: 12px;
    border-radius: 12px;
    color: #ffffff;
    right: 10px;
    top: 10px;
    font-size: 25px;
}

.basket-button {
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    font-size: 30px;
    border: 2px solid #000000;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.basket-list {

}

.basket-title {
    margin-top: 20px;
    padding: 0 5vw;
    font-size: 60px;
    font-weight: 250;
    text-align: center;
}

.basket-page {
    margin: 70px auto;
}

.basket-table {
    width: 100%;
    border-collapse: collapse;
}

.basket-table-head {
    font-size: 35px;
    padding-left: 15px;
    padding-right: 20px;
    color: #ffffff;
    background: #000000;
    font-weight: normal;
}

td {
    text-align: center;
    font-size: 30px;
    padding: 10px 5px;
}

.basket-input {
    font-size: 25px;
    text-align: center;
    width: 50px;
    height: 40px;
    padding: 10px;
    border: 2px solid #000000;
}

.basket-remove-btn {
    color: #ffffff;
    background: #000000;
    margin: 5px;
    font-size: 35px;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.basket-info {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
}

.basket-product-name {
    text-transform: capitalize;
    padding: 60px 40px;
}

.basket-product-price {
    opacity: 0.5;
}

.basket-product-img {
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.basket-total-price {
    display: flex;
    justify-content: flex-end;
}

.basket-total-price table {
    border-top: 3px solid #000000;
    width: 100%;
    max-width: 400px;
}


.product-image > .basket-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 90%;
}

.product-info {
    font-size: 30px;
    padding-top: 2px;
    text-align: center;
}

.product-brand {
    text-transform: uppercase;
}

.product-desc {
    width: 100%;
    height: 23px;
    line-height: 20px;
    overflow: hidden;
    padding-top: 2px;
}

.discount-price {
    font-size: 35px;
}

.price {
    font-size: 35px;
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.products-catalog {
    display: grid;
    grid-template-columns:
    repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
    padding: 20px;
    column-gap: 20px;
    row-gap: 10px;
}

.product-detail-wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.product-detail-wrapper > .product-image {
    margin-bottom: 30px;
    align-self: center;
}

.product-detail-wrapper h2 {
    font-size: 30px;
}

.product-wrapper {
    display: flex;
    /*flex-direction: row-reverse;*/
    /*align-items: center;*/
}

.product-wrapper .basket-button {
    transform: none;
    margin-top: 10px;
    flex-grow: 1;
}
.product-wrapper {
    flex-grow: 4;
}

.details {
    margin: 30px 15px;
    font-size: 30px;
}
.details h2 {
    font-size: 40px;
}
.info-title {
    font-size: 25px;
}
.composition {
    margin-bottom: 10px;
}

.span-text {
    margin-left: 10px;
    font-size: 20px;
}

.instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
}

.instruction img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
