* {
    box-sizing: border-box;
    color: #000000;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

main {
    z-index: 1;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 50px;
    align-self: center;
    margin-left: 10px;
}

.navigation-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    background: #d7d39c;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-menu-image, .open-menu-image {
    height: 100px;
    width: 100px;
}

.navigation-content, .close-menu-image,
.navigation-menu-burger:hover .open-menu-image {
    display: none;
}

.navigation-menu-burger:hover {
    background: #93926b;
}

.navigation-menu-burger:hover .navigation-content {
    display: block;
    position: fixed;
    left: 50%;
    top: 100px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #d9cca8;
    z-index: 99;
}

.navigation-menu-burger:hover .close-menu-image {
    display: block;
}

.navigation-items {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.navigation-item {
    font-size: 40px;
}


.model {
    position: relative;
    display: block;
    width: 100%;
    height: 550px;
    overflow: visible;
}

.model-image {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.welcome-text {
    position: center;
    padding-top: 200px;
    text-shadow: 0px 0px 10px white;
    font-size: 100px;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1392944438/photo/portrait-of-handsome-attractive-positive-curly-haired-indian-or-arabian-guy-wearing-white.webp?b=1&s=170667a&w=0&k=20&c=AuDfv9PdKqXO3nKHFc-uBZ1bt0SXXceqFLo-OhJnI6o=');
    object-fit: fill;
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
